@import "themes/themes.css";
@import url('https://fonts.cdnfonts.com/css/black-chancery');
@import url('https://fonts.cdnfonts.com/css/nunito');

@font-face {
    font-family: 'Rolling Bold';
    src: url('RollingBold.ttf');
}

body {
    background-color: var(--bgcolor);
    width: max(65%, 970px);
    margin: 0 auto;
    max-width: 1200px;
}

body, body *:not(.theme-text) {
    transition: all 0.5s;
    transition-property: stroke, fill, color, background-color, width;
}

img#pic-profile {
    width: 20rem;
    /* height: 34.75rem; */
    object-fit: cover;
    user-select: none;
    align-self: flex-start;
}

.nav-text-link, p {
    font-size: 1.15rem;
    font-family: 'Nunito', sans-serif;
}

.nav-text-link {
    color: var(--accentcolor);
    font-weight: 700;
    /* width: fit-content; */
    width: 100%;
    margin-right: 2rem;
    cursor: pointer;
    user-select: none;

    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.nav-text-link:last-child {
    margin-bottom: 0;
}

.nav-text-link[selected] {
    color: var(--maincolor);
}

p {
    color: var(--textcolor);
    font-weight: 400;
    line-height: 1.7rem;
}

.text-primary {
    color: var(--accentcolor);
    display: flex;
    align-items:  center;
}

.link {
    display: flex;
    align-items: center;
}
.link svg{
    height: 1.1em;
    margin-left: 0.1em;
}
.link:hover path {
    fill: var(--maincolor) !important;
}
.text-link {
    color: var(--accentcolor);
    text-decoration: none;
    transition: color 0.1s !important;
}
.text-link:hover {
    color: var(--maincolor);
}

.text-secondary {
    font-size: 1rem;
}

h1 {
    font-size: 7.25rem;
    font-family: 'Rolling Bold', sans-serif;
    color: var(--maincolor);
    width: fit-content;
    width: -moz-fit-content;
    display: table;
    position: relative;
    /* background-image: linear-gradient(120deg, var(--accentcolor) 0%, var(--accentcolor) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 72%; */
}
h1::before{
    content: "";
    background-image: linear-gradient(120deg, var(--accentcolor) 0%, var(--accentcolor) 100%);
    position: absolute;
    height: 0.3em;
    bottom: 15%;
    margin-left: 2rem;
    z-index: -1;
    transform: skew(-22.5deg);
    width: 95%;
}

h2 {
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    /* margin-top: -.75rem; */
    margin-bottom: 1rem;
    color: var(--accentcolor);
}

h3 {
    font-size: 3rem;
    font-family: 'Rolling Bold', sans-serif;
    color: var(--accentcolor);
    margin-bottom: 0.5rem;
}

.content-block {
    margin-bottom: 1rem;
}
.content-block:last-of-type {
    margin-bottom: 0;
}

nav, .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}
.wrapper {
    margin-bottom: 3rem;
}

nav {
    margin-top: 6rem;
    margin-bottom: 5rem;
}

#nav-text {
    display: inline-block;
    /* justify-content: space-between; */
    margin-left: 3rem;
    align-self: flex-end;
}

#content-scroll {
    /* margin: auto 0; */
    /* margin-top: 20%;
    width: max(50%, 30rem) */
}

hr {
    margin-right: 0.5rem;
    border: none;
    border-radius: 0.1rem;
    height: 0.125rem;
    width: 1.5rem;
    background-color: var(--accentcolor)
}
.nav-text-link[selected] hr {
    background-color:  var(--maincolor);
    width: 3rem;
}

#nav-wrapper {
    display: flex;
    vertical-align: baseline;
}

#content-wrapper {
    /* position: relative;
    overflow-y: scroll;
    height: inherit; */
    display: flex;
    flex-direction: column;

}
#content-scroll {
    overflow-y: scroll;
    flex-basis: 0px;
    flex-grow: 1;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#content-scroll::-webkit-scrollbar {
    width: 0;
    /* background: transparent;
    -webkit-appearance: none; */
}
.content-section {
    /* min-height: 100%; */
    /* margin: auto 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 3rem;
}

#teaching {
    margin-top: 3rem;
}

#title-static {
    min-width: 0;
}

.content-grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content;
    align-items: baseline;
    gap: 0 1rem;
}
.content-grid .text-descrip {
    grid-column: 2;
    /* margin-top: -0.5rem; */
    margin-top: -0.2rem;
}
.content-grid .text-primary, .content-grid .text-name {
    margin-top: 0.75rem;
}

.content-grid .text-descrip, .content-grid .text-name {
    line-height: 1.4rem;
}
.text-secondary span {
    white-space: nowrap;
    margin-right: 0.95rem;
}
.text-secondary.text-descrip.text-name {
    display: flex;
    flex-wrap: wrap;
}

/* #contact {
    min-height: 0;
    margin-top: 3rem;
} */

#about {
    min-height: 100%;
}