:root.paper-theme {
    --maincolor: #444444;
    --bgcolor: #eeeeee;
    --accentcolor: #b2b2b2;
    --textcolor: #444444;
}

:root.iceberg-theme {
    --maincolor: #2d539e;
    --bgcolor: #e8e9ec;
    --accentcolor: #262a3f;
    --textcolor: #33374c;
}

:root.superuser-theme {
    --maincolor: #43ffaf;
    --bgcolor: #262a33;
    --accentcolor: #526777;
    --textcolor: #e5f7ef;
}

:root.horizon-theme {
    --maincolor: #db886f;
    --bgcolor: #1C1E26;
    --accentcolor: #c4a88a;
    --textcolor: #bbbbbb;
}

:root.arch-theme {
    --maincolor: #7ebab5;
    --bgcolor: #0c0d11;
    --accentcolor: #454864;
    --textcolor: #f6f5f5;
}

:root.shadow-theme {
    --maincolor: #eee;
    --bgcolor: #000;
    --accentcolor: #444;
    --textcolor: #eee;
}

:root.mountain-theme {
    --maincolor: #e7e7e7;
    --bgcolor: #0f0f0f;
    --accentcolor: #4c4c4c;
    --textcolor: #e7e7e7;
}

:root.rgb-theme {
    --maincolor: #eee;
    --bgcolor: #111;
    --accentcolor: #444;
    --textcolor: #eee;
}

:root.infared-theme {
    --maincolor: #932432;
    --bgcolor: #f3f3f3;
    --accentcolor: #d26d7b;
    --textcolor: #283747;
}

:root.earth-theme {
    --maincolor: #266150;
    --bgcolor: #e8cebf;
    --accentcolor: #ddaf94;
    --textcolor: #4f4846;
}

:root.ocean-theme {
    --maincolor: #007cc7;
    --bgcolor: #203647;
    --accentcolor: #4da8da;
    --textcolor: #eefbfb;
}

:root.buzz-theme {
    --maincolor: #ffdf6c;
    --bgcolor: #ffffff;
    --accentcolor: #202020;
    --textcolor: #3f3f3f;
}

:root.shrubs-theme {
    --maincolor: #39603d;
    --bgcolor: #daded4;
    --accentcolor: #a3bcb6;
    --textcolor: #3c403d;
}

@keyframes rgb {
    0% {
        color: #f44336;
    }
    25% {
        color: #ffc107;
    }
    50% {
        color: #4caf50;
    }
    75% {
        color: #3f51b5;
    }
    100% {
        color: #f44336;
    }
}

@keyframes rgb-stroke {
    0% {
        stroke: #f44336;
    }
    25% {
        stroke: #ffc107;
    }
    50% {
        stroke: #4caf50;
    }
    75% {
        stroke: #3f51b5;
    }
    100% {
        stroke: #f44336;
    }
}

:root.rgb-theme h1, :root.rgb-theme .nav-text-link[selected] {
    animation-name: rgb;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

:root.rgb-theme path#logo-curve {
    animation-name: rgb-stroke;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}