.paper-theme {
    --maincolor: #444444;
    --bgcolor: #eeeeee;
    /* --accentcolor: #b2b2b2; */
    --accentcolor: #8f8f8f;
    --textcolor: #444444;
}

.iceberg-theme {
    --maincolor: #2d539e;
    --bgcolor: #e8e9ec;
    --accentcolor: #94a5c3;
    --textcolor: #33374c;
}

.superuser-theme {
    --maincolor: #43ffaf;
    --bgcolor: #262a33;
    --accentcolor: #526777;
    --textcolor: #e5f7ef;
}

.horizon-theme {
    --maincolor: #db886f;
    --bgcolor: #1C1E26;
    --accentcolor: #c4a88a;
    --textcolor: #bbbbbb;
}

.arch-theme {
    --maincolor: #7ebab5;
    --bgcolor: #0c0d11;
    --accentcolor: #454864;
    --textcolor: #b0b6c0;
}

.shadow-theme {
    --maincolor: #eee;
    --bgcolor: #000;
    --accentcolor: #444;
    --textcolor: #eee;
}

.mountain-theme {
    --maincolor: #e7e7e7;
    --bgcolor: #0f0f0f;
    --accentcolor: #4c4c4c;
    --textcolor: #e7e7e7;
}

.rgb-theme {
    --maincolor: #eee;
    --bgcolor: #111;
    --accentcolor: #444;
    --textcolor: #eee;
}

.infared-theme {
    --maincolor: #932432;
    --bgcolor: #f3f3f3;
    --accentcolor: #d26d7b;
    --textcolor: #283747;
}

.earth-theme {
    --maincolor: #266150;
    --bgcolor: #e8cebf;
    --accentcolor: #ddaf94;
    --textcolor: #4f4846;
}

.ocean-theme {
    --maincolor: #007cc7;
    --bgcolor: #203647;
    --accentcolor: #4da8da;
    --textcolor: #eefbfb;
}

.buzz-theme {
    --maincolor: #eaaa00;
    --bgcolor: #ffffff;
    --accentcolor: #002233;
    --textcolor: #697681;
}

.shrubs-theme {
    --maincolor: #39603d;
    --bgcolor: #daded4;
    --accentcolor: #a3bcb6;
    --textcolor: #3c403d;
}

.retro-theme {
    --maincolor: #1d1b17;
    --bgcolor: #dad3c1;
    --accentcolor: #918b7d;
    --textcolor: #1d1b17;
}

.oblivion-theme {
    --maincolor: #a5a096;
    --bgcolor: #313231;
    --accentcolor: #5d6263;
    --textcolor: #f7f5f1;
}

.money-theme {
    --maincolor: #6b886b;
    --bgcolor: #e4e4d4;
    --accentcolor: #8a9b69;
    --textcolor: #555a56;
}

@keyframes rgb {
    0% {
        color: #f44336;
    }
    25% {
        color: #ffc107;
    }
    50% {
        color: #4caf50;
    }
    75% {
        color: #3f51b5;
    }
    100% {
        color: #f44336;
    }
}

@keyframes rgb-stroke {
    0% {
        stroke: #f44336;
        background-color: #f44336;
    }
    25% {
        stroke: #ffc107;
        background-color: #ffc107;
    }
    50% {
        stroke: #4caf50;
        background-color: #4caf50;
    }
    75% {
        stroke: #3f51b5;
        background-color: #3f51b5;
    }
    100% {
        stroke: #f44336;
        background-color: #f44336;
    }
}

.rgb-theme h1, .rgb-theme .nav-text-link[selected], .rgb-theme h3 {
    animation-name: rgb;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.rgb-theme path#logo-curve, .rgb-theme .nav-text-link[selected] hr, .rgb-theme .theme-dot {
    animation-name: rgb-stroke;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.orange-theme {
    --maincolor: #fba52d;
    --bgcolor: #eeeeee;
    --accentcolor: #ecc583;
    --textcolor: #444444;
}

.red-theme {
    --maincolor: #e3241e;
    --bgcolor: #eeeeee;
    --accentcolor: #e59690;
    --textcolor: #444444;
}

.blue-theme {
    --maincolor: #0052a3;
    --bgcolor: #eeeeee;
    --accentcolor: #73b6c8;
    --textcolor: #444444;
}

.lightblue-theme {
    --maincolor: #349a9c;
    --bgcolor: #eeeeee;
    --accentcolor: #5ac5b2cf;
    --textcolor: #444444;
}

.orange-theme {
    --maincolor: rgb(255,224,196);
    --bgcolor: #eeeeee;
    --accentcolor: #ebd7bdad;
    --textcolor: #444444;
}